@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*===============
  General
=================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-image: url("../images/bg-desktop.svg");
  background-size: cover;
  background-color: #674baf;
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 40px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: 50px;
}

header {
  margin-bottom: 50px;
  padding: 50px 50px;
}

/*===============
  Main Container
=================*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
}

/*===============
  Left Column
=================*/
.left-col {
  margin-right: 40px;
}

/*===============
  Left Column
=================*/
.right-col {
  margin-bottom: 40px;
}

.right-col a {
  text-decoration: none;
  background-color: white;
  color: #674baf;
  border-radius: 40px;
  padding: 15px 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.right-col a:hover {
  color: white;
  background-color: #e882e8;
}

/*===============
  Footer
=================*/
footer {
  position: relative;
  height: 80px;
}

.social-media {
  position: absolute;
  right: 5%;
}

/*===============
  Icons
=================*/
.icon {
  margin: 0 5px;
}

.facebook-icon {
  width: 40px;
  height: 40px;
  color: #674baf;
  background-color: white;
  border: 3px solid #674baf;
  border-radius: 50%;
  cursor: pointer;
}

.facebook-icon:hover {
  color: #674baf;
  background-color: #e882e8;
}

.twitter-icon {
  width: 27px;
  height: 27px;
  color: white;
  background-color: #674baf;
  border: 3px solid white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.twitter-icon:hover {
  color: #e882e8;
  background-color: #674baf;
  border-color: #e882e8;
}

.instagram-icon {
  width: 27px;
  height: 27px;
  color: white;
  background-color: #674baf;
  border: 3px solid white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.instagram-icon:hover {
  color: #e882e8;
  background-color: #674baf;
  border-color: #e882e8;
}

/*===============
  Attribution
=================*/
.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: black;
}

/*========================================================
                              Media
==========================================================*/
@media only screen and (max-width: 1024px) {
  html {
    background-image: url("../images/bg-mobile.svg");
  }
  h1 {
    font-size: 1.75rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
  header img {
    width: 175px;
  }
  /*===============
    Main Container
  =================*/
  .main-container {
    padding: 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*===============
    Left Column
  =================*/
  .left-col {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left-col img {
    width: 75vw;
  }
  /*===============
    Right Column
  =================*/
  .right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
  }
  .right-col a {
    padding: 15px 80px;
  }
  /*===============
    Footer
  =================*/
  footer {
    position: relative;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-media {
    position: relative;
    right: 0;
  }
  /*===============
    Icons
  =================*/
  .icon {
    margin: 0 5px;
  }
  .facebook-icon {
    width: 30px;
    height: 30px;
  }
  .twitter-icon {
    width: 19px;
    height: 19px;
  }
  .instagram-icon {
    width: 19px;
    height: 19px;
  }
}
/*# sourceMappingURL=style.css.map */